<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Lets Know{% endblock %}</title>

        <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
        <meta name="robots" content="noindex">

        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Roboto Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

        <!-- MDK -->
        <link type="text/css" href="{{ asset('bundles/app/vendor/material-design-kit.css') }}" rel="stylesheet">

        <!-- Sidebar Collapse -->
        <link type="text/css" href="{{ asset('bundles/app/vendor/sidebar-collapse.min.css') }}" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="{{ asset('bundles/app/css/style_3.css') }}" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="{{ asset('bundles/app/css/bootstrap-formhelpers.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body class="top-navbar">

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top">

        <!-- Brand -->
        <a href="{{ path('homepage-admin') }}" class="navbar-brand"><img src="{{ asset('bundles/app/images/logo.png') }}" alt="LetsKnow" ></a>

        <ul class="nav navbar-nav hidden-sm-down"> </ul>

        <div class="navbar-spacer"></div>

        <!-- Menu --> 
        <ul class="nav navbar-nav hidden-sm-down">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('courses_index_list') }}">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('payments_admin') }}">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('courses_index_list') }}">Usuarios</a>
            </li>
        </ul>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <!-- Menu -->
            <ul class="nav navbar-nav">
                <!-- User dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"><img src="{{ asset('uploads/photos') }}/{{app.user.namephoto}}" alt="Avatar" class="rounded-circle" height="40"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                        <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">
                            <i class="material-icons">person</i> Editar Cuenta
                        </a>

                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                            <i class="material-icons">lock</i> Salir
                        </a>
                    </div>
                </li>
                <!-- // END User dropdown -->
            </ul>
        {% endif %}
    </nav>
    <!-- // END Navbar -->

    <div class="mdk-drawer-layout mdk-js-drawer-layout" >
        <div class="mdk-drawer-layout__content">
            <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>
    </div>
            
    <!-- Sidebar -->
    <div class="mdk-drawer mdk-js-drawer" id="default-drawer"  style="display: none">
        <div class="mdk-drawer__content ">

        </div>
    </div>
    <!-- // END Sidebar -->
    
</div>

<!-- jQuery -->
<script src="{{ asset('bundles/app/vendor/jquery.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ asset('bundles/app/vendor/tether.min.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-formhelpers.min.js') }}"></script>

<!-- MDK -->
<script src="{{ asset('bundles/app/vendor/dom-factory.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/material-design-kit.js') }}"></script>

<!-- Sidebar Collapse -->
<script src="{{ asset('bundles/app/vendor/sidebar-collapse.js') }}"></script>

<!-- Modal -->
<script src="{{ asset('bundles/app/vendor/bootbox.min.js') }}"></script>

<!-- App JS -->
<script src="{{ asset('bundles/app/js/main.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>