{% extends 'base_a.html.twig' %}       
{% block stylesheets %}
    <!-- App CSS -->
    <link type="text/css" href="{{ asset('bundles/app/examples/css/morris.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage-admin') }}">Inicio</a></li>        
    </ol>   
    <div class="row mb-2 filters">
        <div class="col-lg-3">
            <h1>Dashboard</h1>
        </div>
    </div>


    <div class="row">

        <div class="card">
            <div class="card-header bg-white">
                <div class="media">
                    <div class="media-body">
                        <h4 class="card-title">Pagos Recibidos</h4>
                        <p class="card-subtitle"></p>
                    </div>
                    <div class="media-right media-middle">
                        <a class="btn btn-sm btn-primary-outline" href="{{ path('payments_admin') }}">Payments</a>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-fit mb-0">                           
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body media-middle">
                            Bs. {{ sumaBolivares |number_format(2, ',', '.')  }}
                        </div>
                        <div class="media-right media-middle">

                            <div class="text-xs-center">
                                <p><span class="tag tag-pill tag-danger mb-05">Bolívares</span></p>

                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body media-middle">
                            $ {{ sumaDolares |number_format(2, ',', '.') }}
                        </div>
                        <div class="media-right media-middle">

                            <div class="text-xs-center">
                                <p><span class="tag tag-pill tag-danger mb-05">Dolares</span></p>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>                                                      
    </div>



    <div class="row">
        <div class="col-md-12">
            </br>
        </div>


        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-block">                        
                        <h4 class="card-title">Usuarios</h4>
                        <div class="chart" id="donut-usuarios" style="width: 100%; height:230px;"></div>
                    </div>
                </div>

                {% if ( usersPorConfirmar |length > 0) %}
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Por Confirmar</h4>
                                    <p class="card-subtitle"></p>
                                </div>
                                <div class="media-right media-middle">
                                    <a class="btn btn-sm btn-primary-outline" href="{{ path('user_index') }}">Usuarios</a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-fit mb-0">
                            {% for user in usersPorConfirmar %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body media-middle">
                                            <a href="{{ path('user_edit', { 'id': user.id }) }}">{{ user.name|title }} {{ user.lastname|title }}</a>
                                        </div>
                                        <div class="media-right media-middle">
                                            <div class="text-xs-center">
                                                <p><span class="tag tag-pill tag-danger mb-05">{{ user.country| country_name |upper }}</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {# Muestra los Últimos 5 Usuarios Registrados#}
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Últimos Registrados</h4>
                                    <p class="card-subtitle"></p>
                                </div>
                                <div class="media-right media-middle">
                                    <a class="btn btn-sm btn-primary-outline" href="student-my-courses.html">Usuarios</a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-fit mb-0">
                            {% for urse in users %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body media-middle">
                                            <a href="student-take-course.html">{{ urse.name|title }} {{ urse.lastname|title }}</a>
                                        </div>
                                        <div class="media-right media-middle">
                                            <div class="text-xs-center">
                                                <p><span class="tag tag-pill tag-success mb-05">{{ urse.country| country_name |upper }}</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">

                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Cursos</h5>
                        <div class="chart" id="donut-cursos" style="width: 100%; height:230px;"></div>
                    </div>
                </div>

                {% if (cousesPorAprobar|length > 0) %}
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Por Aprobar</h4>
                                    <p class="card-subtitle"></p>
                                </div>
                                <div class="media-right media-middle">
                                    <a class="btn btn-sm btn-primary-outline" href="{{ path('courses_index_list') }}">Cursos</a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-fit mb-0">
                            {% for course in cousesPorAprobar %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body media-middle">
                                            <a href="{{ path('courses_view', { 'id': course.id }) }}">{{ course.title | title }}</a>
                                        </div>
                                        <div class="media-right media-middle">

                                            <div class="text-xs-center">
                                                <p><span class="tag tag-pill tag-danger mb-05">{{ course.cost }}</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Últimos Registrados</h4>
                                    <p class="card-subtitle"></p>
                                </div>
                                <div class="media-right media-middle">
                                    <a class="btn btn-sm btn-primary-outline" href="{{ path('courses_index_list') }}">Cursos</a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-fit mb-0">
                            {% for course in courses %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-body media-middle">
                                            <a href="{{ path('courses_view', { 'id': course.id }) }}">{{ course.title | title }}</a>
                                        </div>
                                        <div class="media-right media-middle">
                                            <div class="text-xs-center">
                                                <p><span class="tag tag-pill tag-success mb-05">
                                                        {{ course.currency.name}} 
                                                        {% if course.currency.name == 'Bs' %}
                                                            {{course.cost|number_format(2, ',', '.')}} 
                                                        {% else %}
                                                            {{course.cost|number_format(2, '.', ',')}}                        
                                                        {% endif %}
                                                    </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}                    
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endblock %}

    {% block javascripts %}
        <!-- Vendor JS -->
        <script src="{{ asset('bundles/app/vendor/raphael.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/morris.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                Morris.Donut({
                    element: 'donut-cursos',
                    data: [{{ datosCursos|raw }}],
                    colors: ['#26B99A', '#34495E', '#ACADAC', '#BDAC22'],
                    formatter: function (y, data) {
                        return '' + y
                    },
                    resize: true
                });

                Morris.Donut({
                    element: 'donut-usuarios',
                    data: [{{ datosUsers|raw }}],
                    colors: ['#26B99A', '#34495E', '#ACADAC'],
                    formatter: function (y, data) {
                        return '' + y
                    },
                    resize: true
                });



            });
        </script>
    {% endblock %}