{% extends "base_i.html.twig" %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('instructor') }}">Inicio</a></li>
        <li class="breadcrumb-item active">Perfil Público</li>
    </ol>   
    <div class="row">
        <div class="col-lg-12">
            <div class="text-xs-center">
                {% if student.photo!='' %}
                    <a href="#"><img src="{{ asset('uploads/photos/') }}{{student.photo}}" width="110px"  class="rounded-circle" id="photo" /></a>
                    {% endif %}
                <h1 class="h2 mb-0 mt-1">{{ student.name }} {{ student.lastname }}</h1>
                <p class="lead text-muted mb-0">{{ student.province }}, {{ student.country | country_name |upper }}</p>
                <div class="tag tag-primary">ESTUDIANTE</div>
                <hr>
                <h5 class="text-muted">Estudiante Rating</h5>
                <div class="rating">
                    <i class="material-icons text-success">star</i>
                    <i class="material-icons text-success">star</i>
                    <i class="material-icons text-success">star</i>
                    <i class="material-icons text-muted-light">star_border</i>
                    <i class="material-icons text-muted-light">star_border</i>
                </div>
            </div>
            <hr>
                      

        </div>
    </div>
{% endblock body %}


