{% extends 'base_a.html.twig' %}
{% block stylesheets %}
    <!-- Datatables -->    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ asset('bundles/app/examples/css/datatables.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage-admin') }}">Inicio</a></li>
        <li class="breadcrumb-item active">Cursos</li>
    </ol>   
    <div class="row mb-2 filters">
        <div class="col-lg-3">
            <h1>Cursos</h1>
        </div>

        <div class="col-lg-9">
            <form class="" action="{{ path('courses_index_list') }}" method="post" >
                <div class="col-lg-8 fields-filter">
                    <div class="col-lg-3" style=" padding: 0.1rem;">
                        <select class="form-control"  name="category"  style=" padding: 0.1rem;">
                            <option value=''>Categoría</option>
                            {% for category in coursesCategories %}
                                <option value="{{category.id}}" {%if category.id== selCategory%}selected{%endif%}>{{category.name}}</option>
                            {% endfor %}
                        </select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control bfh-countries" id="country" name="country" style=" padding: 0.1rem;" data-country="{{selCountry}}" data-available="ES,VE" ></select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control input-medium  bfh-states" name="province" data-country="country"  id="state" data-state="{{selState}}" style=" padding: 0.1rem;"></select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control" name="cost" style=" padding: 0.1rem;">
                            <option value=''>Costo</option>
                            {% for cost in courseCosts %}
                                <option value="{{cost.id}}" {%if cost.id== selCost%}selected{%endif%}>{{cost.name}}</option>
                            {% endfor %}
                        </select></div>

                </div>
                <div class="col-lg-4 navbar-light input-filter">
                    <!-- Search -->
                    <div class="navbar-search-form hidden-sm-down">
                        <input type="text" class="form-control" name="q" placeholder="Nombre" value="{{q}}">
                        <button class="btn" type="submit"><i class="material-icons">search</i></button>
                    </div>
                    <!-- // END Search -->
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div >               
               
                    <table id="datatable-fixed-header" class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>País</th>
                                <th>Provincia</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses  %}
                                <tr>
                                    <td class="text-center">{{  loop.index  }}</td>
                                    <td><img src="{{ asset('uploads/photos/') }}{{course.photo}}" width="60" class="rounded"/></td>
                                    <td><a href="{{ path('courses_view', { 'id': course.id }) }}" >{{ course.title|title }}</a></td>
                                    <td> <span class="bfh-countries" data-country="{{course.country}}" data-flags="true"></span></td>
                                    <td> <span class="bfh-states" data-country="{{course.country}}" data-state="{{course.province}}"></span></td>
                                    <td class="text-center">{% if course.startdate %}{{ course.startdate|date('d/m/y') }}{% endif %}</td>
                                    <td class="text-center">{% if course.enddate %}{{ course.enddate|date('d/m/y') }}{% endif %}</td>
                                    <td class="text-center">

                                        {%if course.status==1%}
                                            <div class="list-status text-success"><i class="material-icons ">check</i> <span > Aprobado </span></div>  
                                        {%endif%}

                                        {%if course.status==0%}
                                            <div class="list-status text-warning"><i class="material-icons ">warning</i> <span > Por aprobar </span></div>    
                                        {%endif%}

                                        {%if course.status==-1%}
                                            <div class="list-status text-danger"><i class="material-icons ">clear</i> <span > Rechazado </span></div>    
                                        {%endif%}

                                        {%if course.status==2%}
                                            <div class="list-status text-primary"><i class="material-icons ">timer_off</i> <span > Finalizado </span></div>    
                                        {%endif%}


                                    </td>

                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
               
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/vendor/moment.min.js')}}" ></script>
    <script src="{{ asset('bundles/app/vendor/bootstrap-daterangepicker/daterangepicker.js')}}" ></script>   

    <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendor/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('bundles/app/vendor/dataTables.bootstrap.js')}}"></script>

    <script type="text/javascript">
        $(function () {
            $('input[id="form_daterange"]').daterangepicker({
                timePicker: true,
                timePickerIncrement: 1,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY/MM/DD H:mm:ss'
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#country').find("option:first").html("País").change(function () {
                $('#state').find("option:first").html("Provincia");
            });
            $('#state').find("option:first").html("Provincia");
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#datatable-fixed-header').DataTable(
                    {
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    }
            );
        });
    </script>
{% endblock %}


