{% extends 'base_a.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage-admin') }}">Inicio</a></li>
        <li class="breadcrumb-item active">Cursos</li>
    </ol>   
    <div class="row mb-2 filters">
        <div class="col-lg-3">
            <h1>Cursos</h1>
        </div>

        <div class="col-lg-9">
            <form class="" action="{{ path('courses_index_list') }}" method="post" >
                <div class="col-lg-8 fields-filter">
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control"  name="category"  style=" padding: 0.1rem;">
                            <option value=''>Categoría</option>
                            {% for category in coursesCategories %}
                                <option value="{{category.id}}" {%if category.id== selCategory%}selected{%endif%}>{{category.name}}</option>
                            {% endfor %}
                        </select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control bfh-countries" id="country" name="country" style=" padding: 0.1rem;" data-country="{{selCountry}}" data-available="ES,VE" ></select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control input-medium  bfh-states" name="province" data-country="country"  id="state" data-state="{{selState}}" style=" padding: 0.1rem;"></select></div>
                    <div class="col-lg-3" style=" padding: 0.1rem;"><select class="form-control" name="cost" style=" padding: 0.1rem;">
                            <option value=''>Costo</option>
                            {% for cost in courseCosts %}
                                <option value="{{cost.id}}" {%if cost.id== selCost%}selected{%endif%}>{{cost.name}}</option>
                            {% endfor %}
                        </select></div>

                </div>
                <div class="col-lg-4 navbar-light input-filter">
                    <!-- Search -->
                    <div class="navbar-search-form hidden-sm-down">
                        <input type="text" class="form-control" name="q" placeholder="Nombre" value="{{q}}">
                        <button class="btn" type="submit"><i class="material-icons">search</i></button>
                    </div>
                    <!-- // END Search -->
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div >


                {%if (pagination.getTotalItemCount|length==0)%}
                    <p class="alert alert-warning"> No hay cursos
                    </p>
                {%else%}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, '#', 'a.id') }}</th>
                                    <th>Imagen</th>
                                    <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'a.title') }}</th>
                                    <th{% if pagination.isSorted('a.country') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'País', 'a.country') }}</th>
                                    <th{% if pagination.isSorted('a.province') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Provincia', 'a.province') }}</th>
                                    <th{% if pagination.isSorted('a.startdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Inicio', 'a.startdate') }}</th>
                                    <th{% if pagination.isSorted('a.enddate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fin', 'a.enddate') }}</th>
                                    <th{% if pagination.isSorted('a.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Estatus', 'a.status') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in pagination  %}
                                    <tr>
                                        <td class="text-center">{{  loop.index  }}</td>
                                        <td><img src="{{ asset('uploads/photos/') }}{{course.photo}}" width="60" class="rounded"/></td>
                                        <td><a href="{{ path('courses_view', { 'id': course.id }) }}" >{{ course.title|title }}</a></td>
                                        <td> <span class="bfh-countries" data-country="{{course.country}}" data-flags="true"></span></td>
                                        <td> <span class="bfh-states" data-country="{{course.country}}" data-state="{{course.province}}"></span></td>
                                        <td class="text-center">{% if course.startdate %}{{ course.startdate|date('d/m/y') }}{% endif %}</td>
                                        <td class="text-center">{% if course.enddate %}{{ course.enddate|date('d/m/y') }}{% endif %}</td>
                                        <td class="text-center">

                                            {%if course.status==1%}
                                                <div class="list-status text-success"><i class="material-icons ">check</i> <span > Aprobado </span></div>  
                                            {%endif%}

                                            {%if course.status==0%}
                                                <div class="list-status text-warning"><i class="material-icons ">warning</i> <span > Por aprobar </span></div>    
                                            {%endif%}

                                            {%if course.status==-1%}
                                                <div class="list-status text-danger"><i class="material-icons ">clear</i> <span > Rechazado </span></div>    
                                            {%endif%}

                                            {%if course.status==2%}
                                                <div class="list-status text-primary"><i class="material-icons ">timer_off</i> <span > Finalizado </span></div>    
                                            {%endif%}


                                        </td>

                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
                    </div>

                {% endif %}

            </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %}

    <script>

        $(function () {

            $('#country').find("option:first").html("País").change(function () {
                $('#state').find("option:first").html("Provincia");
            });
            $('#state').find("option:first").html("Provincia");

        });

    </script>

{% endblock %}





