{% extends 'base_e.html.twig' %}
{% block stylesheets %}
    <!-- Datepicker -->
    <link type="text/css" href="{{ asset('bundles/app/examples/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    <!-- Timepicker -->
    <link type="text/css" href="{{ asset('bundles/app/examples/css/bootstrap-timepicker.min.css') }}" rel="stylesheet">
    <!-- Touchspin -->
    <link type="text/css" href="{{ asset('bundles/app/examples/css/bootstrap-touchspin.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %} 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ path('courses_indexall') }}">Cursos</a></li>
        <li class="breadcrumb-item active">{{ course.title|title }}</li>
    </ol>



    <h1 class="page-heading h2">{{ course.title|title }}</h1>      

    <div class="row">
        {% if app.session.flashbag is not empty %}
            <div class="row m-15-0">
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success"> {{ msg }} </div>       
                {% endfor %}

                {% for msgs in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {% for msg in msgs %}
                            <p>{{ msg }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {%endif%}
        <div class="col-md-8">


            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">

                    {% if course.video is not null and course.video is not empty %}
                        <iframe class="embed-responsive-item" src="{{ course.video }}" allowfullscreen=""></iframe>
                    {% else %}                        
                        <img src="{{ asset('uploads/photos') }}/{{ course.photo }}" alt="Avatar" style = "width:100%">
                    {% endif %}

                </div>


                <div class="card-block text-justify">
                    {{ course.description|capitalize }}
                </div>

                <div class="card-block text-justify">
                    <h4>Resumen:</h4>
                    {{ course.resume|capitalize }}
                </div>

                <div class="card-block text-justify">
                    <h4>Categoría:</h4>
                    {{ course.category|capitalize }}
                </div>

            </div>

            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body media-middle">
                            <h4 class="card-title">CANTIDAD DE ALUMNOS:</h4>
                            <p class="card-subtitle"></p> 
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class='col-lg-6'> 
                        <div class="form-group">
                            Mínimos:
                            <div class="input-group bootstrap-touchspin">                               
                                {{ course.minstudent }}
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-6'> 
                        <div class="form-group">
                            Máximos:
                            <div class="input-group bootstrap-touchspin">                                                              
                                {{ course.maxstudent}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>    

            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body media-middle">
                            <h4 class="card-title">CONOCIMIENTO NECESARIO:</h4>
                            <p class="card-subtitle"></p> 
                        </div>
                    </div>
                    <div class="card__options">

                    </div>
                </div>
                <div class="card-block">
                    <fieldset class="form-group">                        
                        {{ course.knowledge| capitalize }}                      
                    </fieldset> 

                </div>
            </div>

            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body media-middle">
                            <h4 class="card-title">HERRAMIENTAS:</h4>
                            <p class="card-subtitle"></p> 
                        </div>
                    </div>
                    <div class="card__options">

                    </div>
                </div>
                <div class="card-block">
                    <fieldset class="form-group">                        
                        {{ course.tool| capitalize }}                      
                    </fieldset> 

                </div>
            </div>


            <!-- Lessons -->
            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="card-title">UBICACIÓN:</h4>
                            <p class="card-subtitle"></p>
                        </div>
                    </div>
                </div>
                <div class="card-block">

                    <ul class="list-group list-group-fit">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="material-icons text-muted-light">location_city</i>
                                </div>
                                <div class="media-body media-middle">
                                    Lugar: {{locations[course.place-1]}}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="material-icons text-muted-light">public</i>
                                </div>
                                <div class="media-body media-middle">
                                    País: <span class="bfh-countries" data-country="{{course.country}}" data-flags="true"></span> <br>
                                    Provincia: <span class="bfh-states" data-country="{{course.country}}" data-state="{{course.province}}"></span>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="material-icons text-muted-light">place</i>
                                </div>
                                <div class="media-body media-middle">
                                    Avenida: {{course.avenue}}<br>
                                    Dirección: {{course.address}}
                                </div>
                            </div>
                        </li>
                    </ul>
                               
                </div>
            </div>
                                <br> <br>
        </div>
                                
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-xs-center">
                    <p class="{{ clase }}}">                                
                        {{ etiqueta }}
                    </p>

                    {%if ( (course.user.id !=  app.user.id) and register_form is not null) %}

                        {{ form_start(register_form) }}

                        <input type="submit" class="btn btn-success btn-block btn--col" value="Registrarse">

                        {{ form_end(register_form) }}

                    {%elseif isevaluated is not null %}

                        <h4>Mi evaluación</h4>
                        <span>{{isevaluated.comment}}</span>
                        <div  style="height:50px; width: 150px; margin: 0px auto;" class="text-xs-center">
                            <div class="rating">
                                <i class="material-icons inshow">{%if (isevaluated.score>=1)%}star{%else%}star_border{%endif%}</i>
                                <i class="material-icons inshow">{%if (isevaluated.score>=2)%}star{%else%}star_border{%endif%}</i>
                                <i class="material-icons inshow">{%if (isevaluated.score>=3)%}star{%else%}star_border{%endif%}</i>
                                <i class="material-icons inshow">{%if (isevaluated.score>=4)%}star{%else%}star_border{%endif%}</i>
                                <i class="material-icons inshow">{%if (isevaluated.score>=5)%}star{%else%}star_border{%endif%}</i>
                            </div>
                        </div>
                    {%elseif calificar %}
                        <a href="{{ path('reviews_course_new', { 'course': course.id }) }}" class="btn btn-rosa btn-md btn-block">Calificar </a>
                    {%endif %}

                </div>
            </div>
            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-left media-middle">
                            {% if course.user.photo!='' %}
                                <img src="{{ asset('uploads/photos/') }}{{course.user.photo}}" width="80"  id="photo" />
                            {% endif %}
                        </div>
                        <div class="media-body media-middle">
                            <h4 class="card-title"><a href="{{ path('homepage') }}">{{course.user.name}} {{course.user.lastname}}</a></h4>
                            <p class="card-subtitle">Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="card-block">

                    <a href="{{course.user.website}}" class="">
                        <i class="material-icons md-18 text-muted">language</i>  {{course.user.website}}                      
                    </a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{course.user.video}}" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <ul class="list-group list-group-fit">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">assessment</i>
                            </div>
                            <div class="media-body media-middle">
                                Inicio-Finalización | Hora
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">schedule</i>
                            </div>
                            <div class="media-body media-middle">
                                {{course.startdate|date("d/m/Y")}} - {{course.enddate|date("d/m/Y")}} <br> {{course.hour}} 
                            </div>
                        </div>
                    </li>



                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">assessment</i>
                            </div>
                            <div class="media-body media-middle">
                                Días
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="media">

                            <fieldset class="form-group">                        

                                <div >
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="LU">LU</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="MA">MA</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="MI">MI</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="JU">JU</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="VI">VI</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="SA">SA</button></div>
                                    <div class="col-lg-1-7 "><button type="button" class="btn day-week inshow" id="DO">DO</button></div>
                                </div>
                            </fieldset> 
                        </div>
                    </li>


                </ul>
            </div>


            <div class="card">
                <div class="card-header bg-white">
                    <div class="media">
                        <div class="media-body media-middle">
                            <h4 class="card-title">COSTO DEL CURSO:</h4>
                            <p class="card-subtitle"></p> 
                        </div>
                    </div>
                    <div class="card__options">

                    </div>
                </div>
                <div class="card-block">
                    <fieldset class="form-group">                        
                        {{ course.currency.name}} 
                        {% if course.currency.name == 'Bs' %}
                            {{course.cost|number_format(2, ',', '.')}} 
                        {% else %}
                            {{course.cost|number_format(2, '.', ',')}}                        
                        {% endif %}
                    </fieldset> 
                </div>
            </div>

            {% if (course.user.id ==  app.user.id ) %}

                <div class="card">
                    <div class="card-header bg-white">
                        <div class="media">
                            <div class="media-body media-middle">
                                <h4 class="card-title">TIPO DE PUBLICACIÓN:</h4>
                                <p class="card-subtitle"></p> 
                            </div>
                        </div>
                    </div>
                    <div class="card-block">                    
                        <fieldset class="form-group">
                            {{course.type}}                          
                        </fieldset>
                    </div>
                </div>

            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">CALIFICACIÓN:</h4>
                </div>
                <div class="card-block">
                    <div class="rating">
                        <i class="material-icons inshow">{%if (course.review>=1)%}star{%else%}star_border{%endif%}</i>
                        <i class="material-icons inshow">{%if (course.review>=2)%}star{%else%}star_border{%endif%}</i>
                        <i class="material-icons inshow">{%if (course.review>=3)%}star{%else%}star_border{%endif%}</i>
                        <i class="material-icons inshow">{%if (course.review>=4)%}star{%else%}star_border{%endif%}</i>
                        <i class="material-icons inshow">{%if (course.review>=5)%}star{%else%}star_border{%endif%}</i>
                    </div>
                    <!--small class="text-muted">20 ratings</small-->  
                </div>
            </div>

            {% if (course.status < 1 and course.user.id == app.user.id) %}                    
                <div class="text-lg-right">                       
                    <a href="{{ path('courses_edit', { 'id': course.id }) }}" class="btn btn-primary btn-lg">
                        Editar
                    </a>
                </div>

            {% endif %}
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(function () {


            if ('{{course.days}}' !== '') {
                var days = '{{course.days}}';
                var ds = days.split(",");

                for (i = 0; i < ds.length; i++) {
                    $("#" + ds[i]).addClass("active");
                }
            }

        });

    </script>

{% endblock %}